.weather-information {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #007bff;
  color: white;
  display: inline-block;
}

.weather-information h2 {
  margin: 0;
  font-size: 24px;
}

.weather-information p {
  margin: 5px 0;
  font-size: 16px;
}

.weather-information img {
  width: 30px;
}

.weather-information span {
  display: flex;
  gap: 10px;
}
